<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- DEBUG ONLY: the compose stack binds plain HTTP on 127.0.0.1/LAN.
         Release builds keep cleartext disabled (network_security_config). -->
    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
